---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">
          <a class="site-title-link" href="{{site.baseurl}}/">{{site.displaytitle}}</a>
          <br>
          <a href="https://twitter.com/intent/user?screen_name=gutfeelingblog" class="custom-twitter-follow-button follow-button"><i class="fa fa-twitter"></i>&nbsp;Follow @gutfeelingblog</a>
          <br>
          <a class="follow-email follow-button" href="{{site.baseurl}}/email-sub/">
            <i class="fa fa-envelope"></i>&nbsp;&nbsp;Subscribe by Email
          </a>
      </div>
      <p class="author-description">{{site.about-author}}</p>
      <a class="twitter-timeline" data-dnt="true" data-tweet-limit="2" href="https://twitter.com/gutfeelingblog?ref_src=twsrc%5Etfw">(Widget) Tweets by gutfeelingblog</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.twitter %}
          <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.facebook %}
          <li><a href="https://facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.c_github %}
          <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
